.gallery {
  margin: 0;
  padding: 0;
}

.gallery__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  list-style: none;
}