.main-nav {
  position: absolute;
  width: 100%;
  background-color: #000000;
}

.header__nav {
  background-color: #000000;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__link {
  color: #000000;
  text-decoration: none;
}