.info{
    margin: 0 20px 55px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    @media(min-width: $desktop-width){
        display: flex;
        justify-content: space-around;
        margin: 0;
    }
}

.info__title{    
    margin: 0 0 16px;
    padding: 0;
    font-family: "OpenSans";
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

.info__list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.info__item{
    margin-bottom: 8px;
    &:nth-last-child(1){
        margin-bottom: 0;
    }
}

.info__link{
    text-decoration: none;
    color: inherit;
}